//Colors
$background: #EAEBEC;
$textColor: black;
$textShadow: -2px 2px 2px gray;
$modalBackground: rgba(0,0,0,0.4);
$modalContent: #fefefe;
$btnBoxShadow: 3px 3px black, -1em 0 .4em gray;
$closeButton: #aaaaaa;
$closeHover: #000;

$modalBorder: 1px solid #888;